<p>home-companies works!</p>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-icon mb-4 card-menu" (click)="redirectToRoute('/dashboard/companies/taxes')">
      <div class="card-body text-center">
        <i class="i-Coins"></i>
        <p class="text-muted mt-2 mb-2">Impuestos</p>
        <p class="text-primary line-height-1 m-0">
          Texto explicativo sobre el modulo impuestos
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-icon mb-4 card-menu">
      <div class="card-body text-center">
        <i class="i-Business-Mens"></i>
        <p class="text-muted mt-2 mb-2">Clientes</p>
        <p class="text-primary line-height-1 m-0">
          Texto explicativo sobre el modulo clientes
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-icon mb-4 card-menu">
      <div class="card-body text-center">
        <i class="i-Clothing-Store"></i>
        <p class="text-muted mt-2 mb-2">Proveedores</p>
        <p class="text-primary line-height-1 m-0">
          Texto explicativo sobre el modulo clientes
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-icon mb-4 card-menu">
      <div class="card-body text-center">
        <i class="i-Dollar-Sign"></i>
        <p class="text-muted mt-2 mb-2">Actividades economicas</p>
        <p class="text-primary line-height-1 m-0">
          Texto explicativo sobre el modulo economicas
        </p>
      </div>
    </div>
  </div>
</div>
