<div class="row">
  @for (item of nav; track $index) {
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-icon mb-4 card-menu" (click)="redirectToRoute(item.state)">
        <div class="card-body text-center">
          <i class="i-Coins"></i>
          <p class="text-muted mt-2 mb-2">{{item.name}}</p>
          <p class="text-primary line-height-1 m-0">
            Texto explicativo sobre el modulo impuestos
          </p>
        </div>
      </div>
    </div>
  }
</div>
